<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Slots_Project.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <Slots_Project.My.MySettings>
            <setting name="Slots" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RandomNumbers" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ViewingInstructions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskingForInstructions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewingInstructions_InGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsQuitting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WantsToQuit" serializeAs="String">
                <value>False</value>
            </setting>
        </Slots_Project.My.MySettings>
    </userSettings>
</configuration>
